
    <h2>Select Your Seats</h2>
    <form>
        <!-- Seat Selection -->
        <fieldset>
            <legend>Select your seats:</legend>
            
            <!-- Row 1 -->
            <label><input type="checkbox" name="seat" value="A1"> A1</label>
            <label><input type="checkbox" name="seat" value="A2">  A2</label>
            <label><input type="checkbox" name="seat" value="A3">  A3</label>
            <label><input type="checkbox" name="seat" value="A4">  A4</label>
            <br><br>

            <!-- Row 2 -->
            <label><input type="checkbox" name="seat" value="B1">  B1</label>
            <label><input type="checkbox" name="seat" value="B2">  B2</label>
            <label><input type="checkbox" name="seat" value="B3">  B3</label>
            <label><input type="checkbox" name="seat" value="B4">  B4</label>
            <br><br>

            <!-- Row 3 -->
            <label><input type="checkbox" name="seat" value="C1">  C1</label>
            <label><input type="checkbox" name="seat" value="C2">  C2</label>
            <label><input type="checkbox" name="seat" value="C3">  C3</label>
            <label><input type="checkbox" name="seat" value="C4">  C4</label>
        </fieldset>
        <br>

        <!-- Submit Button -->
        <input type="submit" value="Book Seats">
    </form>

