<h2>Select Your Seats</h2>
<form>
    <!-- Seat Selection -->
    <fieldset>
        <legend>Select your seats:</legend>
        
        <!-- Row 1 -->
        <label><input type="checkbox" name="seat" value="A1"> A1</label>
        <label><input type="checkbox" name="seat" value="A2"> A2</label>
        <label><input type="checkbox" name="seat" value="A3"> A3</label>
        <label><input type="checkbox" name="seat" value="A4"> A4</label>
        <br><br>

        <!-- Row 2 -->
        <label><input type="checkbox" name="seat" value="B1"> B1</label>
        <label><input type="checkbox" name="seat" value="B2"> B2</label>
        <label><input type="checkbox" name="seat" value="B3"> B3</label>
        <label><input type="checkbox" name="seat" value="B4"> B4</label>
        <br><br>

        <!-- Row 3 -->
        <label><input type="checkbox" name="seat" value="C1"> C1</label>
        <label><input type="checkbox" name="seat" value="C2"> C2</label>
        <label><input type="checkbox" name="seat" value="C3"> C3</label>
        <label><input type="checkbox" name="seat" value="C4"> C4</label>
        <br><br>

        <!-- Row 4 -->
        <label><input type="checkbox" name="seat" value="D1"> D1</label>
        <label><input type="checkbox" name="seat" value="D2"> D2</label>
        <label><input type="checkbox" name="seat" value="D3"> D3</label>
        <label><input type="checkbox" name="seat" value="D4"> D4</label>
        <br><br>

        <!-- Row 5 -->
        <label><input type="checkbox" name="seat" value="E1"> E1</label>
        <label><input type="checkbox" name="seat" value="E2"> E2</label>
        <label><input type="checkbox" name="seat" value="E3"> E3</label>
        <label><input type="checkbox" name="seat" value="E4"> E4</label>
        <br><br>

        <!-- Row 6 -->
        <label><input type="checkbox" name="seat" value="F1"> F1</label>
        <label><input type="checkbox" name="seat" value="F2"> F2</label>
        <label><input type="checkbox" name="seat" value="F3"> F3</label>
        <label><input type="checkbox" name="seat" value="F4"> F4</label>
        <br><br>

        <!-- Row 7 -->
        <label><input type="checkbox" name="seat" value="G1"> G1</label>
        <label><input type="checkbox" name="seat" value="G2"> G2</label>
        <label><input type="checkbox" name="seat" value="G3"> G3</label>
        <label><input type="checkbox" name="seat" value="G4"> G4</label>
        <br><br>

        <!-- Row 8 -->
        <label><input type="checkbox" name="seat" value="H1"> H1</label>
        <label><input type="checkbox" name="seat" value="H2"> H2</label>
        <label><input type="checkbox" name="seat" value="H3"> H3</label>
        <label><input type="checkbox" name="seat" value="H4"> H4</label>

    </fieldset>
    <br>

    <!-- Submit Button -->
    <input type="submit" value="Book Seats">
</form>
